{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {%- liquid
                          assign menu_image = null
                          for block in section.blocks
                            if block.type == 'menu_item_image' and block.settings.menu_level == 'parent' and block.settings.menu_title == childlink.title and block.settings.menu_image != blank
                              assign menu_image = block.settings.menu_image
                              break
                            endif
                          endfor
                        -%}
                        {%- if menu_image != blank -%}
                          <div class="mega-menu__image-wrapper">
                            {{
                              menu_image
                              | image_url: width: 200
                              | image_tag: loading: 'lazy', width: 200, height: 200, class: 'mega-menu__image'
                            }}
                          </div>
                        {%- endif -%}
                        <span class="mega-menu__title">{{ childlink.title | escape }}</span>
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled mega-menu__grandchild-list" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link mega-menu__link--grandchild link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {%- liquid
                                  assign grandchild_image = null
                                  for block in section.blocks
                                    if block.type == 'menu_item_image' and block.settings.menu_level == 'grandchild' and block.settings.menu_title == grandchildlink.title and block.settings.menu_image != blank
                                      assign grandchild_image = block.settings.menu_image
                                      break
                                    endif
                                  endfor
                                -%}
                                <span class="mega-menu__title mega-menu__title--grandchild">
                                  {{- grandchildlink.title | escape -}}
                                </span>
                                {%- if grandchild_image != blank -%}
                                  <div class="mega-menu__image-wrapper mega-menu__image-wrapper--grandchild">
                                    {{
                                      grandchild_image
                                      | image_url: width: 200
                                      | image_tag:
                                        loading: 'lazy',
                                        width: 200,
                                        height: 200,
                                        class: 'mega-menu__image mega-menu__image--grandchild'
                                    }}
                                  </div>
                                {%- endif -%}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
